@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:ital,wght@1,300&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif; }

/*****INDEX*****/
@media (min-width: 1024px) {
  body header div ul li a .logo {
    width: 150px;
    margin: 30px;
    background-color: none; }
  body header .nav .menu li .listas {
    background-image: radial-gradient(#99D3E0 15%, salmon 80%);
    padding: 6px;
    margin: 20px;
    font-size: 24px; }
  body .principal p {
    font-size: 45px; }
  body #whatsapp ul li a img {
    height: 100px;
    width: 100px; }
  body .secundario .sub .subtituloComprar {
    font-size: 45px;
    margin: 30px;
    width: 520px; }
  body .secundario .parrafoDos {
    font-size: 60px; }
  body .secundario .opcionesPagoI {
    display: flex;
    flex-direction: row; }
    body .secundario .opcionesPagoI .listaOpcionesPagoI {
      font-size: 35px;
      padding: 2%;
      display: flex;
      justify-content: center; }
  body footer .redesSociales {
    justify-content: flex-start; }
  body footer address {
    justify-content: flex-end; } }

@media (min-width: 481px) and (max-width: 1023px) {
  body header {
    background-image: linear-gradient(#fd7263 0%, #f0c0f1 75%);
    flex-direction: column; }
    body header div ul li a .logo {
      width: 150px;
      margin: 30px;
      background-color: none; }
    body header .nav .menu li .listas {
      background-image: radial-gradient(#99D3E0 15%, salmon 80%);
      padding: 5px;
      margin: 5px;
      font-size: 24px; }
  body .principal p {
    font-size: 45px; }
  body #whatsapp ul li a img {
    height: 80px;
    width: 80px; }
  body .secundario {
    margin-top: 50px; }
    body .secundario .sub .subtituloComprar {
      font-size: 35px;
      margin: 30px;
      width: 520px; }
    body .secundario .parrafoDos {
      font-size: 40px; }
    body .secundario .opcionesPagoI {
      display: flex;
      flex-direction: row; }
      body .secundario .opcionesPagoI .listaOpcionesPagoI {
        font-size: 35px;
        padding: 2%;
        display: flex;
        justify-content: center; }
  body footer .redesSociales {
    justify-content: flex-start; }
  body footer address {
    justify-content: flex-end; } }

/*****SOBRE MÍ*****/
@media (min-width: 1024px) {
  #cuerpoSobreMi #tituloSobreMi .tituloSeccion {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 30px; }
  #cuerpoSobreMi #textoSobreMi .container .parrafoDeContenido {
    font-size: 20px;
    margin: 25px; } }

/*****PRODUCTOS*****/
@media (min-width: 1024px) {
  #cuerpoProductos #promociones h3 {
    font-size: 45px; }
  #cuerpoProductos #promociones .caracteristicas ul {
    margin: 30px; }
    #cuerpoProductos #promociones .caracteristicas ul li {
      font-size: 30px; }
  #cuerpoProductos #promociones div ul li {
    font-size: 35px; }
  #cuerpoProductos #promociones div p {
    font-size: 30px !important; } }

@media (min-width: 481px) and (max-width: 1023px) {
  #promociones h3 {
    font-size: 40px; }
  #promociones .caracteristicas ul {
    margin: 20px; }
    #promociones .caracteristicas ul li {
      font-size: 23px; }
  #promociones div ul li {
    font-size: 27px; }
  #promociones div p {
    font-size: 23px !important; } }

@media (max-width: 480px) {
  #promociones h3 {
    font-size: 30px; }
  #promociones .caracteristicas ul {
    margin: 18px; }
    #promociones .caracteristicas ul li {
      font-size: 20px; }
  #promociones div ul li {
    font-size: 23px; }
  #promociones div p {
    font-size: 20px !important; } }

/*****COMPRAR*****/
@media (min-width: 1024px) {
  #cuerpoComprar #tituloComprar .tituloSeccion {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 30px; }
  #cuerpoComprar #textoComprar .parrafoComprar {
    font-size: 35px;
    width: 700px;
    height: auto; }
  #cuerpoComprar #listaComprar {
    margin: 30px; }
    #cuerpoComprar #listaComprar .listaOpcionesPago {
      font-size: 35px;
      width: 600px;
      height: auto;
      padding: 10px; } }

/*****CONTACTO*****/
@media (min-width: 1024px) {
  #cuerpoContacto #parrafoContacto {
    margin-left: 5%;
    margin-right: 5%; }
    #cuerpoContacto #parrafoContacto .parrafoContacto {
      font-size: 35px; }
  #cuerpoContacto #formulario {
    margin: 20px; }
    #cuerpoContacto #formulario fieldset {
      width: 700px;
      padding: 20px; }
      #cuerpoContacto #formulario fieldset legend {
        font-size: 25px; }
    #cuerpoContacto #formulario h4 {
      font-size: 30px;
      margin: 10px; }
    #cuerpoContacto #formulario label {
      font-size: 25px; }
    #cuerpoContacto #formulario input {
      font-size: 25px;
      margin: 3px; }
    #cuerpoContacto #formulario textarea {
      font-size: 25px;
      width: 600px;
      margin: 3px; } }

/*extend*/
.promo, .divPrecio .promo--Precio, div .parrafoCaracteristicas {
  text-decoration: underline none; }

.divPrecio .promo--Precio {
  color: #521e18; }

div .parrafoCaracteristicas {
  color: #521e18; }

/*mixin*/
.tituloSeccion {
  line-height: 2;
  text-decoration: underline wavy red none; }

/*map*/
.color-text-decoration {
  /*background-color: $bgcolor;
        border: $bgcolor;*/
  text-decoration: underline dotted #FF3028; }

/*INDEX*/
#cuerpoIndex {
  background-color: #f0c0f1;
  display: grid;
  grid-template-areas: "cabeza" "whatsapp" "principal" "galeria" "secundario" "pie";
  grid-template-columns: 100%;
  grid-template-rows: auto; }
  #cuerpoIndex #cabeza {
    background-color: salmon;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    grid-area: cabeza; }
    #cuerpoIndex #cabeza div ul {
      list-style-type: none; }
    #cuerpoIndex #cabeza .nav .menu {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; }
      #cuerpoIndex #cabeza .nav .menu li .listas {
        text-decoration: none;
        color: black;
        font-family: "Source Sans Pro", sans-serif; }
  #cuerpoIndex .principal {
    grid-area: principal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%; }
    #cuerpoIndex .principal p {
      font-family: "Source Sans Pro", sans-serif;
      text-align: center;
      font-weight: bold 900 italic;
      line-height: 1.6; }
  #cuerpoIndex #whatsapp {
    grid-area: whatsapp;
    animation-name: logoWhatsapp;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 1s;
    grid-area: whatsapp; }
    #cuerpoIndex #whatsapp ul {
      list-style-type: none; }
      #cuerpoIndex #whatsapp ul li a img {
        z-index: 1;
        position: fixed; }
  #cuerpoIndex #carouselExampleIndicators {
    grid-area: galeria; }
    #cuerpoIndex #carouselExampleIndicators .carousel-inner {
      width: 100%;
      height: auto; }
  #cuerpoIndex .secundario {
    grid-area: secundario; }
    #cuerpoIndex .secundario .parrafoDos {
      display: flex;
      justify-content: center;
      align-items: center; }
    #cuerpoIndex .secundario .sub {
      display: flex;
      justify-content: center;
      align-items: center; }
      #cuerpoIndex .secundario .sub .subtituloComprar {
        background-color: #70e0ad;
        text-align: center; }
  #cuerpoIndex footer {
    grid-area: pie;
    background-color: #b39f9f;
    height: auto; }
    #cuerpoIndex footer .redesSociales {
      list-style-type: none;
      margin: 30px;
      padding: 10px;
      display: flex;
      align-items: center; }
    #cuerpoIndex footer address {
      display: flex;
      margin: 10px; }

@keyframes logoWhatsapp {
  from {
    transform: translateX(-300px); }
  to {
    transform: translateX(0); } }

/*SOBRE MI*/
#cuerpoSobreMi {
  background-color: #f0c0f1;
  display: grid;
  grid-template-areas: "cabezaSobreMi" "tituloSobreMi" "whatsapp" "textoSobreMi" "videoSobreMi" "pieSobreMi";
  grid-template-columns: 100%;
  grid-template-rows: auto; }
  #cuerpoSobreMi #cabezaSobreMi {
    grid-area: cabezaSobreMi;
    background-color: salmon;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-content: center;
    align-items: center; }
    #cuerpoSobreMi #cabezaSobreMi div ul {
      list-style-type: none; }
    #cuerpoSobreMi #cabezaSobreMi .nav .menu {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; }
      #cuerpoSobreMi #cabezaSobreMi .nav .menu li .listas {
        text-decoration: none;
        color: black;
        font-family: "Source Sans Pro", sans-serif; }
  #cuerpoSobreMi #tituloSobreMi {
    grid-area: tituloSobreMi; }
    #cuerpoSobreMi #tituloSobreMi .tituloSeccion {
      text-align: center;
      font-weight: bold;
      line-height: 1.6;
      display: flex;
      justify-content: center;
      font-size: 60px;
      margin-top: 40px;
      margin-bottom: 30px; }
  #cuerpoSobreMi #whatsapp {
    grid-area: whatsapp;
    animation-name: logoWhatsapp;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 1s;
    grid-area: whatsapp; }
    #cuerpoSobreMi #whatsapp ul {
      list-style-type: none; }
      #cuerpoSobreMi #whatsapp ul li a img {
        z-index: 1;
        position: fixed; }
  #cuerpoSobreMi #textoSobreMi {
    grid-area: textoSobreMi; }
    #cuerpoSobreMi #textoSobreMi .container .parrafoDeContenido {
      text-align: center;
      line-height: 1.6;
      color: black; }
  #cuerpoSobreMi #videoSobreMi {
    grid-area: videoSobreMi; }
    #cuerpoSobreMi #videoSobreMi video {
      margin: 2% 10% 2% 10%;
      width: 80%; }
  #cuerpoSobreMi #pieSobreMi {
    grid-area: pieSobreMi;
    background-color: #b39f9f;
    height: auto; }
    #cuerpoSobreMi #pieSobreMi .redesSociales {
      list-style-type: none;
      margin: 30px;
      padding: 10px;
      display: flex;
      align-items: center; }
    #cuerpoSobreMi #pieSobreMi address {
      display: flex;
      margin: 10px; }

@keyframes logoWhatsapp {
  from {
    transform: translateX(-300px); }
  to {
    transform: translateX(0); } }

/*PRODUCTOS*/
#cuerpoProductos {
  background-color: #f0c0f1;
  display: grid;
  grid-template-areas: "cabezaProductos" "tituloProductos" "whatsapp" "catalogo" "icono" "promociones" "pieProductos";
  grid-template-columns: 100%;
  grid-template-rows: auto; }
  #cuerpoProductos #cabezaProductos {
    grid-area: cabezaProductos;
    background-color: salmon;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-content: center;
    align-items: center; }
    #cuerpoProductos #cabezaProductos div ul {
      list-style-type: none; }
    #cuerpoProductos #cabezaProductos .nav .menu {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; }
      #cuerpoProductos #cabezaProductos .nav .menu li .listas {
        text-decoration: none;
        color: black;
        font-family: "Source Sans Pro", sans-serif; }
  #cuerpoProductos #tituloProductos {
    grid-area: tituloProductos; }
    #cuerpoProductos #tituloProductos .tituloSeccion {
      text-align: center;
      font-weight: bold;
      line-height: 1.6;
      display: flex;
      justify-content: center;
      font-size: 60px;
      margin-top: 40px;
      margin-bottom: 30px; }
  #cuerpoProductos #whatsapp {
    grid-area: whatsapp;
    animation-name: logoWhatsapp;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 1s;
    grid-area: whatsapp; }
    #cuerpoProductos #whatsapp ul {
      list-style-type: none; }
      #cuerpoProductos #whatsapp ul li a img {
        z-index: 1;
        position: fixed; }
  #cuerpoProductos #catalogo {
    grid-area: catalogo;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    #cuerpoProductos #catalogo .productos {
      width: 350px;
      height: auto;
      margin: 30px;
      border: black solid; }
      #cuerpoProductos #catalogo .productos .tituloProductos {
        font-size: 35px;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        width: 300px;
        margin-left: 30px; }
      #cuerpoProductos #catalogo .productos .parrafoDeProductos {
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        width: 300px;
        height: auto;
        text-align: center;
        margin-left: 17px; }
  #cuerpoProductos #icono {
    grid-area: icono;
    margin: 0 3% 0 3%; }
  #cuerpoProductos #promociones {
    grid-area: promociones;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #cuerpoProductos #promociones h3 {
      background-color: sandybrown; }
    #cuerpoProductos #promociones .caracteristicas .promo, #cuerpoProductos #promociones .caracteristicas .divPrecio .promo--Precio, .divPrecio #cuerpoProductos #promociones .caracteristicas .promo--Precio, #cuerpoProductos #promociones .caracteristicas div .parrafoCaracteristicas, div #cuerpoProductos #promociones .caracteristicas .parrafoCaracteristicas {
      list-style-type: none; }
      #cuerpoProductos #promociones .caracteristicas .promo li, #cuerpoProductos #promociones .caracteristicas .divPrecio .promo--Precio li, .divPrecio #cuerpoProductos #promociones .caracteristicas .promo--Precio li, #cuerpoProductos #promociones .caracteristicas div .parrafoCaracteristicas li, div #cuerpoProductos #promociones .caracteristicas .parrafoCaracteristicas li {
        text-align: center; }
    #cuerpoProductos #promociones .divPrecio .promo--Precio {
      list-style-type: none; }
    #cuerpoProductos #promociones div .parrafoCaracteristicas {
      text-align: center; }
  #cuerpoProductos #pieProductos {
    grid-area: pieProductos;
    background-color: #b39f9f;
    height: auto; }
    #cuerpoProductos #pieProductos .redesSociales {
      list-style-type: none;
      margin: 30px;
      padding: 10px;
      display: flex;
      align-items: center; }
    #cuerpoProductos #pieProductos address {
      display: flex;
      margin: 10px; }

@keyframes logoWhatsapp {
  from {
    transform: translateX(-300px); }
  to {
    transform: translateX(0); } }

/*COMPRAR*/
#cuerpoComprar {
  background-color: #f0c0f1;
  display: grid;
  grid-template-areas: "cabezaComprar" "tituloComprar" "whatsapp" "textoComprar" "boton" "subtituloComprar" "listaComprar" "pieComprar";
  grid-template-columns: 100%;
  grid-template-rows: auto; }
  #cuerpoComprar .cabecera {
    grid-area: cabezaComprar;
    background-color: salmon;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-content: center;
    align-items: center; }
    #cuerpoComprar .cabecera div ul {
      list-style-type: none; }
    #cuerpoComprar .cabecera .nav .menu {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; }
      #cuerpoComprar .cabecera .nav .menu li .listas {
        text-decoration: none;
        color: black;
        font-family: "Source Sans Pro", sans-serif; }
  #cuerpoComprar #tituloComprar {
    grid-area: tituloComprar; }
    #cuerpoComprar #tituloComprar .tituloSeccion {
      text-align: center;
      font-weight: bold;
      line-height: 1.6;
      display: flex;
      justify-content: center;
      font-size: 60px;
      margin-top: 40px;
      margin-bottom: 30px; }
  #cuerpoComprar #whatsapp {
    grid-area: whatsapp;
    animation-name: logoWhatsapp;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 1s;
    grid-area: whatsapp; }
    #cuerpoComprar #whatsapp ul {
      list-style-type: none; }
      #cuerpoComprar #whatsapp ul li a img {
        z-index: 1;
        position: fixed; }
  #cuerpoComprar #textoComprar {
    grid-area: textoComprar;
    display: flex;
    justify-content: center; }
    #cuerpoComprar #textoComprar .parrafoComprar {
      text-align: center;
      margin: 20px; }
  #cuerpoComprar #button {
    grid-area: boton;
    display: flex;
    justify-content: center; }
  #cuerpoComprar #subtituloComprar {
    grid-area: subtituloComprar;
    display: flex;
    justify-content: center; }
    #cuerpoComprar #subtituloComprar .subtituloComprar {
      background-color: #70e0ad;
      text-align: center; }
  #cuerpoComprar #listaComprar {
    grid-area: listaComprar;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none; }
    #cuerpoComprar #listaComprar .listaOpcionesPago {
      text-align: center; }
  #cuerpoComprar #pieComprar {
    background-color: #b39f9f;
    grid-area: pieComprar; }
    #cuerpoComprar #pieComprar .redesSociales {
      list-style-type: none;
      margin: 30px;
      padding: 10px;
      display: flex;
      align-items: center; }
    #cuerpoComprar #pieComprar address {
      display: flex;
      margin: 10px; }

@keyframes logoWhatsapp {
  from {
    transform: translateX(-300px); }
  to {
    transform: translateX(0); } }

/*CONTACTO*/
#cuerpoContacto {
  background-color: #f0c0f1;
  display: grid;
  grid-template-areas: "cabezaContacto" "tituloContacto" "whatsapp" "parrafoContacto" "formulario" "pieContacto";
  grid-template-columns: 100%;
  grid-template-rows: auto; }
  #cuerpoContacto .cabecera {
    grid-area: cabezaContacto;
    background-color: salmon;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-content: center;
    align-items: center; }
    #cuerpoContacto .cabecera div ul {
      list-style-type: none; }
    #cuerpoContacto .cabecera .nav .menu {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; }
      #cuerpoContacto .cabecera .nav .menu li .listas {
        text-decoration: none;
        color: black;
        font-family: "Source Sans Pro", sans-serif; }
  #cuerpoContacto #tituloContacto {
    grid-area: tituloContacto; }
    #cuerpoContacto #tituloContacto .tituloSeccion {
      text-align: center;
      font-weight: bold;
      line-height: 1.6;
      display: flex;
      justify-content: center;
      font-size: 60px;
      margin-top: 40px;
      margin-bottom: 30px; }
  #cuerpoContacto #whatsapp {
    grid-area: whatsapp;
    animation-name: logoWhatsapp;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 1s;
    grid-area: whatsapp; }
    #cuerpoContacto #whatsapp ul {
      list-style-type: none; }
      #cuerpoContacto #whatsapp ul li a img {
        z-index: 1;
        position: fixed; }
  #cuerpoContacto #parrafoContacto {
    grid-area: parrafoContacto;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%; }
    #cuerpoContacto #parrafoContacto .parrafoContacto {
      font-size: 35px;
      text-align: center; }
  #cuerpoContacto #formulario {
    grid-area: formulario;
    display: flex;
    justify-content: center; }
    #cuerpoContacto #formulario fieldset legend {
      text-align: center; }
    #cuerpoContacto #formulario h4 {
      font-weight: bold; }
    #cuerpoContacto #formulario input {
      text-align: center; }
  #cuerpoContacto #pieContacto {
    grid-area: pieContacto;
    background-color: #b39f9f; }
    #cuerpoContacto #pieContacto .redesSociales {
      list-style-type: none;
      margin: 30px;
      padding: 10px;
      display: flex;
      align-items: center; }
    #cuerpoContacto #pieContacto address {
      display: flex;
      margin: 10px; }

@keyframes logoWhatsapp {
  from {
    transform: translateX(-300px); }
  to {
    transform: translateX(0); } }
