@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:ital,wght@1,300&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif; }

@media (min-width: 1024px) {
  #promociones h3 {
    font-size: 45px; }
  #promociones .caracteristicas ul {
    margin: 30px; }
    #promociones .caracteristicas ul li {
      font-size: 30px; }
  #promociones div ul li {
    font-size: 35px; }
  #promociones div p {
    font-size: 30px !important; } }

@media (min-width: 481px) and (max-width: 1023px) {
  #promociones h3 {
    font-size: 40px; }
  #promociones .caracteristicas ul {
    margin: 20px; }
    #promociones .caracteristicas ul li {
      font-size: 23px; }
  #promociones div ul li {
    font-size: 27px; }
  #promociones div p {
    font-size: 23px !important; } }

@media (max-width: 480px) {
  #promociones h3 {
    font-size: 30px; }
  #promociones .caracteristicas ul {
    margin: 18px; }
    #promociones .caracteristicas ul li {
      font-size: 20px; }
  #promociones div ul li {
    font-size: 23px; }
  #promociones div p {
    font-size: 20px !important; } }

@media (min-width: 1024px) {
  #promociones {
    display: flex;
    justify-content: center;
    align-items: center; }
    #promociones h3 {
      background-color: sandybrown; }
    #promociones .caracteristicas .promo li, #promociones .caracteristicas .divPrecio .promo--Precio li, .divPrecio #promociones .caracteristicas .promo--Precio li {
      text-align: center; } }

@media (min-width: 481px) and (max-width: 1023px) {
  #promociones {
    display: flex;
    justify-content: center;
    align-items: center; }
    #promociones h3 {
      background-color: sandybrown; }
    #promociones .caracteristicas .promo li, #promociones .caracteristicas .divPrecio .promo--Precio li, .divPrecio #promociones .caracteristicas .promo--Precio li {
      text-align: center; } }

@media (max-width: 480px) {
  #promociones {
    display: flex;
    justify-content: center;
    align-items: center; }
    #promociones h3 {
      background-color: sandybrown; }
    #promociones .caracteristicas .promo li, #promociones .caracteristicas .divPrecio .promo--Precio li, .divPrecio #promociones .caracteristicas .promo--Precio li {
      text-align: center; } }

/*extend*/
.promo, .divPrecio .promo--Precio {
  text-decoration: underline; }

.divPrecio .promo--Precio {
  border: salmon none; }
