@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:ital,wght@1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

/****DESKTOP****/
@media (min-width: 1024px) {



/*CUERPO*/
.body {
    background-color: #f0c0f1;
}


/*LOGO*/
.logo {
    width: 150px;
    margin: 30px;
    background-color: none;
}

/*MENÚ*/
ul {
    list-style: none;
}
        
a {
    text-decoration: none;
    color: black;
}
        
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
        
.listas {
    background-image: radial-gradient(#99D3E0 15%, salmon 80%);
    padding: 6px;
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}
        
.cabecera {
    background-color: salmon;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}


    /*PRINCIPAL*/
        /*TEXTO DE APERTURA*/
p {
    background-color: salmon none;
    font-size: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bold 900 italic;
    line-height: 1.6;
}

@keyframes logoWhatsapp {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}


.logoWhatsapp {
    animation-name: logoWhatsapp;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 2s;
}

img.whatsapp {
    height: 100px;
    width: 100px;
    z-index: 1;
    position: fixed;
}


.subGaleria {

    margin: 0% 7% 7% 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*
.fotoGaleria {
    width: 90%;
    height: auto;
    border: black solid;
}*/

.carousel-inner {
    width: 100%;
    height: auto;
}


        /*PÁRRAFO ABAJO*/
.parrafoDos {
    font-size: 60px;
    border: dashed white;
} 

.tituloSeccion {
    font-size: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bold 900 italic;
    line-height: 1.6;
    margin-top: 40px;
    margin-bottom: 30px;
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

/***GRID AREA INDEX***/
#cuerpoIndex {
    display: grid;
    grid-template-areas: 
    "cabeza"
    "whatsapp"
    "principal"
    "galeria"
    "secundario"
    "pie";
    grid-template-columns: 100%;
   /* grid-template-rows: 210px 4% auto 5% 200px;*/
   /* grid-template-rows: 210px 4% auto auto 200px;*/
   grid-template-rows: auto;
}

#cabeza {
    grid-area: cabeza;
}

#whatsapp {
    grid-area: whatsapp;
}

.principal {
    grid-area: principal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
/*
#galeria {
    grid-area: galeria;
}*/
#carouselExampleIndicators {
    grid-area: galeria;
}

.secundario {
    grid-area: secundario;
    margin-top: 50px;
}

#pie {
    grid-area: pie;
}

/*INICIO SOBRE MÍ*/
.parrafoDeContenido {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    line-height: 1.6;
    margin: 25px;
    color: black;
}

.principalSobreMi {
    width: auto;
    height: 1050px;
}

video {
    margin: 2% 10% 2% 10%;
    width: 80%;
}

/***GRID AREA SOBRE MÍ***/
#cuerpoSobreMi {
    display: grid;
    grid-template-areas: 
    "cabezaSobreMi"
    "tituloSobreMi"
    "whatsapp"
    "textoSobreMi"
    "videoSobreMi"
    "pieSobreMi";
    grid-template-columns: 100%;
    /*grid-template-rows: 210px 4% auto auto 200px;*/
    grid-template-rows: auto;
}

#cabezaSobreMi {
    grid-area: cabezaSobreMi;
}

#tituloSobreMi {
    grid-area: tituloSobreMi;
}

#textoSobreMi {
    grid-area: textoSobreMi;
}

#videoSobreMi {
    grid-area: videoSobreMi;
}

#pieSobreMi {
    grid-area: pieSobreMi;
}
/*FIN SOBRE MÍ*/

/*INICIO PRODUCTOS*/
.parrafoDeProductos {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 300px;
    height: auto;
    text-align: center;
    margin-left: 17px;
}

.tituloProductos {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    width: 300px;
    margin-left: 30px;
}

.productos {
    width: 350px;
    height: auto;
    margin: 30px;
    border: black solid;
}


.principalProductos {
    width: auto;
    height: auto;
}

.catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/***GRID AREA PRODUCTOS***/
#cuerpoProductos {
    display: grid;
    grid-template-areas:
    "cabezaProductos"
    "tituloProductos"
    "whatsapp"
    "catalogo"
    "icono"
    "promociones"
    "pieProductos";
    grid-template-columns: 100%;
    /*grid-template-rows: 210px 4% auto 200px;*/
    grid-template-rows: auto;
}

#cabezaProductos {
    grid-area: cabezaProductos;

}

#tituloProductos {
    grid-area: tituloProductos;
}

#catalogo {
    grid-area: catalogo;
}

#icono {
    grid-area: icono;
    margin: 0 3% 0 3%;
}

#promociones {
    grid-area: promociones;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pieProductos {
    grid-area: pieProductos;
}

/*FIN PRODUCTOS*/

/*INICIO COMPRAR*/
.parrafoComprar {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 700px;
    height: auto;
    text-align: center;
    margin: 20px;
}

.principalComprar {
    width: auto;
    height: auto;
}

.subtituloComprar {
    background-color: #70e0ad;
    font-size: 45px;
    margin: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    width: 520px;
}

.opcionesPago {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.listaOpcionesPago {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 600px;
    height: auto;
    text-align: center;
    padding: 10px;
}


/***GRID AREA COMPRAR***/
#cuerpoComprar {
    display: grid;
    grid-template-areas:
    "cabezaComprar"
    "tituloComprar"
    "whatsapp"
    "textoComprar"
    "boton"
    "subtituloComprar"
    "listaComprar"
    "pieComprar";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.cabecera {
    grid-area: cabezaComprar;
}

#tituloComprar {
    grid-area: tituloComprar;
}

#textoComprar {
    grid-area: textoComprar;
    display: flex;
    justify-content: center;
}

#button {
    grid-area: boton;
    display: flex;
    justify-content: center;
}

#subtituloComprar {
    grid-area: subtituloComprar;
    display: flex;
    justify-content: center;
}

#listaComprar {
    grid-area: listaComprar;
}

#pieComprar {
    grid-area: pieComprar;
}
/***FIN COMPRAR***/

/***INICIO CONTACTO***/
.parrafoContacto {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

fieldset {
    width: 700px;
    padding: 20px;
}

legend {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

h4 {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin: 10px;
}

label {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 3px;
}

textarea {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 600px;
    margin: 3px;
}

/***GRID AREA CONTACTO***/
#cuerpoContacto {
    display: grid;
    grid-template-areas:
    "cabezaContacto"
    "tituloContacto"
    "whatsapp"
    "parrafoContacto"
    "formulario"
    "pieContacto"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

#cabezaContacto {
    grid-area: cabezaContacto;
}

#tituloContacto {
    grid-area: tituloContacto;
}

#parrafoContacto {
    grid-area: parrafoContacto;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

#formulario {
    grid-area: formulario;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#pieContacto {
    grid-area: pieContacto;
}

/***FIN CONTACTO***/

.opcionesPagoI {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listaOpcionesPagoI {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2%
}

    /*PIE DE PÁGINA*/
footer {
    background-color: rgb(179, 159, 159);
    /*height: 100px;*/ /*cuando aplique flexbox poner esta propiedad*/
    height: auto;

}
        /*REDES SOCIALES*/
.redesSociales {
    margin: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

/*COPYRIGHT*/
address {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

}

/****TABLET****/
@media (min-width: 481px) and (max-width: 1023px) {
/*CUERPO*/
.body {
    background-color: #f0c0f1;
}
/*LOGO*/
.logo {
    width: 120px;
    margin: 20px;
}

/*MENÚ*/
ul {
    list-style: none;
    margin-bottom: 15px;
}
        
a {
    text-decoration: none;
    color: black;
}
        
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
        
.listas {
    background-image: radial-gradient(#99d3e0 15%, #f0c0f1 80%);
    padding: 5px;
    margin: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}
        
.cabecera {
    background-color: salmon;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(253, 114, 99) 0%, #f0c0f1 75%);
}
 
    /*PRINCIPAL*/
        /*TEXTO DE APERTURA*/
p {
    font-size: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bold 900 italic;
    line-height: 1.6;
}


@keyframes logoWhatsapp {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}


.logoWhatsapp {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    animation-name: logoWhatsapp;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 2s;
}

img.whatsapp {
    height: 80px;
    width: 80px;
    z-index: 1;
    position: fixed;
}

.subGaleria {

    margin: 0% 7% 7% 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*
.fotoGaleria {
    width: 90%;
    height: auto;
    border: black solid;
}*/
.carousel-inner {
    width: 100%;
    height: auto;
}


        /*PÁRRAFO ABAJO*/
.parrafoDos {
    font-size: 40px;
} 

.tituloSeccion {
    font-size: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bold 900 italic;
    line-height: 1.6;
    margin-top: 40px;
    margin-bottom: 30px;
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

/***GRID AREA INDEX***/
#cuerpoIndex {
    display: grid;
    grid-template-areas: 
    "cabeza"
    "whatsapp"
    "principal"
    "galeria"
    "secundario"
    "pie";
    grid-template-columns: 100%;
   /* grid-template-rows: 210px 4% auto 5% 200px;*/
   /* grid-template-rows: 210px 4% auto auto 200px;*/
   grid-template-rows: auto;
}

#cabeza {
    grid-area: cabeza;
}

#whatsapp {
    grid-area: whatsapp;
}

.principal {
    grid-area: principal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
/*
#galeria {
    grid-area: galeria;
}*/
#carouselExampleIndicators {
    grid-area: galeria;
}

.secundario {
    grid-area: secundario;
    margin-top: 50px;
}

#pie {
    grid-area: pie;
}


/*INICIO SOBRE MÍ*/
.parrafoDeContenido {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    line-height: 1.6;
    margin: 25px;
    color: black;
}

.principalSobreMi {
    width: auto;
    height: 1050px;
}

video {
    margin: 2% 10% 2% 10%;
    width: 80%;
}

/***GRID AREA SOBRE MÍ***/
#cuerpoSobreMi {
    display: grid;
    grid-template-areas: 
    "cabezaSobreMi"
    "tituloSobreMi"
    "whatsapp"
    "textoSobreMi"
    "videoSobreMi"
    "pieSobreMi";
    grid-template-columns: 100%;
    /*grid-template-rows: 210px 4% auto auto 200px;*/
    grid-template-rows: auto;
}

#cabezaSobreMi {
    grid-area: cabezaSobreMi;
}

#tituloSobreMi {
    grid-area: tituloSobreMi;
}

#textoSobreMi {
    grid-area: textoSobreMi;
}

#videoSobreMi {
    grid-area: videoSobreMi;
}

#pieSobreMi {
    grid-area: pieSobreMi;
}
/*FIN SOBRE MÍ*/

/*INICIO PRODUCTOS*/
.parrafoDeProductos {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 300px;
    height: auto;
    text-align: center;
    margin-left: 17px;
}

.tituloProductos {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    width: 300px;
    margin-left: 30px;
}

.productos {
    width: 350px;
    height: auto;
    margin: 30px;
    border: black solid;
}


.principalProductos {
    width: auto;
    height: auto;
}

.catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/***GRID AREA PRODUCTOS***/
#cuerpoProductos {
    display: grid;
    grid-template-areas:
    "cabezaProductos"
    "tituloProductos"
    "whatsapp"
    "catalogo"
    "icono"
    "promociones"
    "pieProductos";
    grid-template-columns: 100%;
    /*grid-template-rows: 210px 4% auto 200px;*/
    grid-template-rows: auto;
}

#cabezaProductos {
    grid-area: cabezaProductos;

}

#tituloProductos {
    grid-area: tituloProductos;
}

#catalogo {
    grid-area: catalogo;
}

#icono {
    grid-area: icono;
    margin: 0 3% 0 3%;
}

#promociones {
    grid-area: promociones;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pieProductos {
    grid-area: pieProductos;
}

/*FIN PRODUCTOS*/

/*INICIO COMPRAR*/
.parrafoComprar {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 700px;
    height: auto;
    text-align: center;
    margin: 20px;
}

.principalComprar {
    width: auto;
    height: auto;
}

.subtituloComprar {
    background-color: #70e0ad;
    font-size: 35px;
    margin: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    width: 520px;
}

.opcionesPago {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.listaOpcionesPago {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 600px;
    height: auto;
    text-align: center;
    padding: 10px;
}

/***GRID AREA COMPRAR***/
#cuerpoComprar {
    display: grid;
    grid-template-areas:
    "cabezaComprar"
    "tituloComprar"
    "whatsapp"
    "textoComprar"
    "boton"
    "subtituloComprar"
    "listaComprar"
    "pieComprar";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.cabecera {
    grid-area: cabezaComprar;
}

#tituloComprar {
    grid-area: tituloComprar;
}

#textoComprar {
    grid-area: textoComprar;
    display: flex;
    justify-content: center;
}

#button {
    grid-area: boton;
    display: flex;
    justify-content: center;
}

#subtituloComprar {
    grid-area: subtituloComprar;
    display: flex;
    justify-content: center;
}

#listaComprar {
    grid-area: listaComprar;
}

#pieComprar {
    grid-area: pieComprar;
}
/***FIN COMPRAR***/

/***INICIO CONTACTO***/
.parrafoContacto {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 700px;
    text-align: center;
}

fieldset {
    width: 700px;
    padding: 20px;
}

legend {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

h4 {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin: 10px;
}

label {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 3px;
}

textarea {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 600px;
    margin: 3px;
}

/***GRID AREA CONTACTO***/
#cuerpoContacto {
    display: grid;
    grid-template-areas:
    "cabezaContacto"
    "tituloContacto"
    "whatsapp"
    "parrafoContacto"
    "formulario"
    "pieContacto"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

#cabezaContacto {
    grid-area: cabezaContacto;
}

#tituloContacto {
    grid-area: tituloContacto;
}

#parrafoContacto {
    grid-area: parrafoContacto;
    display: flex;
    justify-content: center;
}

#formulario {
    grid-area: formulario;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#pieContacto {
    grid-area: pieContacto;
}

/***FIN CONTACTO***/

.opcionesPagoI {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listaOpcionesPagoI {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2%
}

    /*PIE DE PÁGINA*/
footer {
    background-color: rgb(179, 159, 159);
    /*height: 100px;*/ /*cuando aplique flexbox poner esta propiedad*/
    height: auto;

}
        /*REDES SOCIALES*/
.redesSociales {
    margin: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*COPYRIGHT*/
address {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

}

/****SMARTPHONE****/
@media (max-width: 480px) {
/*CUERPO*/
.body {
    background-color: #f0c0f1;
}
/*LOGO*/
.logo {
    width: 120px;
    margin: 20px;
}

/*MENÚ*/
ul {
    list-style: none;
    margin-bottom: 15px;
}
        
a {
    text-decoration: none;
    color: black;
}
        
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
        
.listas {
    background-image: radial-gradient(#99d3e0 15%, #f0c0f1 80%);
    padding: 5px;
    margin: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
        
.cabecera {
    background-color: salmon;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(253, 114, 99) 0%, #f0c0f1 75%);
}
 
    /*PRINCIPAL*/
        /*TEXTO DE APERTURA*/
p {
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bold 900 italic;
    line-height: 1.6;
}

@keyframes logoWhatsapp {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}


.logoWhatsapp {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    animation-name: logoWhatsapp;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 2s;
}

img.whatsapp {
    height: 50px;
    width: 50px;
    z-index: 1;
    position: fixed;
}

.subGaleria {

    margin: 0% 7% 7% 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*
.fotoGaleria {
    width: 90%;
    height: auto;
    border: black solid;
}
*/
.carousel-inner {
    width: 100%;
    height: auto;
}

        /*PÁRRAFO ABAJO*/
.parrafoDos {
    font-size: 34px;
    border: dashed white;
    margin-bottom: 30px;
} 

.tituloSeccion {
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bold 900 italic;
    line-height: 1.6;
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcionesPagoI {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.listaOpcionesPagoI {
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2%
}

/***GRID AREA INDEX***/
#cuerpoIndex {
    display: grid;
    grid-template-areas: 
    "cabeza"
    "whatsapp"
    "principal"
    "galeria"
    "secundario"
    "pie";
    grid-template-columns: 100%;
   /* grid-template-rows: 210px 4% auto 5% 200px;*/
   /* grid-template-rows: 210px 4% auto auto 200px;*/
   grid-template-rows: auto;
}

#cabeza {
    grid-area: cabeza;
}

#whatsapp {
    grid-area: whatsapp;
}

.principal {
    grid-area: principal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
/*
#galeria {
    grid-area: galeria;
}*/
#carouselExampleIndicators {
    grid-area: galeria;
}

.secundario {
    grid-area: secundario;
    margin-top: 50px;
}

#pie {
    grid-area: pie;
}


/*INICIO SOBRE MÍ*/
.parrafoDeContenido {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    line-height: 1.6;
    margin: 25px;
    color: black;
}

.principalSobreMi {
    width: auto;
    height: 1050px;
}

video {
    margin: 2% 10% 2% 10%;
    width: 80%;
}

/***GRID AREA SOBRE MÍ***/
#cuerpoSobreMi {
    display: grid;
    grid-template-areas: 
    "cabezaSobreMi"
    "tituloSobreMi"
    "whatsapp"
    "textoSobreMi"
    "videoSobreMi"
    "pieSobreMi";
    grid-template-columns: 100%;
    /*grid-template-rows: 210px 4% auto auto 200px;*/
    grid-template-rows: auto;
}

#cabezaSobreMi {
    grid-area: cabezaSobreMi;
}

#tituloSobreMi {
    grid-area: tituloSobreMi;
}

#textoSobreMi {
    grid-area: textoSobreMi;
}

#videoSobreMi {
    grid-area: videoSobreMi;
}

#pieSobreMi {
    grid-area: pieSobreMi;
}
/*FIN SOBRE MÍ*/

/*INICIO PRODUCTOS*/
.parrafoDeProductos {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 300px;
    height: auto;
    text-align: center;
    margin-left: 17px;
}

.tituloProductos {
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    width: 300px;
    margin-left: 30px;
}

.productos {
    width: 350px;
    height: auto;
    margin: 30px;
    border: black solid;
}


.principalProductos {
    width: auto;
    height: auto;
}

.catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/***GRID AREA PRODUCTOS***/
#cuerpoProductos {
    display: grid;
    grid-template-areas:
    "cabezaProductos"
    "tituloProductos"
    "whatsapp"
    "catalogo"
    "icono"
    "promociones"
    "pieProductos";
    grid-template-columns: 100%;
    /*grid-template-rows: 210px 4% auto 200px;*/
    grid-template-rows: auto;
}

#cabezaProductos {
    grid-area: cabezaProductos;

}

#tituloProductos {
    grid-area: tituloProductos;
}

#catalogo {
    grid-area: catalogo;
}

#icono {
    grid-area: icono;
    margin: 0 3% 0 3%;
}


#promociones {
    grid-area: promociones;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#pieProductos {
    grid-area: pieProductos;
}

/*FIN PRODUCTOS*/

/*INICIO COMPRAR*/
.parrafoComprar {
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 700px;
    height: auto;
    text-align: center;
    margin: 20px;
}

.principalComprar {
    width: auto;
    height: auto;
}

.subtituloComprar {
    background-color: #70e0ad;
    font-size: 28px;
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    width: 520px;
}

.opcionesPago {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.listaOpcionesPago {
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 600px;
    height: auto;
    text-align: center;
    padding: 6px;
}

/***GRID AREA COMPRAR***/
#cuerpoComprar {
    display: grid;
    grid-template-areas:
    "cabezaComprar"
    "tituloComprar"
    "whatsapp"
    "textoComprar"
    "boton"
    "subtituloComprar"
    "listaComprar"
    "pieComprar";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.cabecera {
    grid-area: cabezaComprar;
}

#tituloComprar {
    grid-area: tituloComprar;
}

#textoComprar {
    grid-area: textoComprar;
    display: flex;
    justify-content: center;
}

#button {
    grid-area: boton;
    display: flex;
    justify-content: center;
}

#subtituloComprar {
    grid-area: subtituloComprar;
    display: flex;
    justify-content: center;
}

#listaComprar {
    grid-area: listaComprar;
}

#pieComprar {
    grid-area: pieComprar;
}
/***FIN COMPRAR***/

/***INICIO CONTACTO***/
.parrafoContacto {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    width: 85%;
}

fieldset {
    width: 85%;
    padding: 10px;
}

legend {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

h4 {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin: 8px;
}

label {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 2px;
}

textarea {
    font-size: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    width: auto;
    margin: 2px;
}

/***GRID AREA CONTACTO***/
#cuerpoContacto {
    display: grid;
    grid-template-areas:
    "cabezaContacto"
    "tituloContacto"
    "whatsapp"
    "parrafoContacto"
    "formulario"
    "pieContacto"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

#cabezaContacto {
    grid-area: cabezaContacto;
}

#tituloContacto {
    grid-area: tituloContacto;
}

#parrafoContacto {
    grid-area: parrafoContacto;
    display: flex;
    justify-content: center;
}

#formulario {
    grid-area: formulario;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#pieContacto {
    grid-area: pieContacto;
}

/***FIN CONTACTO***/

    /*PIE DE PÁGINA*/
footer {
    background-color: rgb(179, 159, 159);
    /*height: 100px;*/ /*cuando aplique flexbox poner esta propiedad*/
    height: auto;

}
        /*REDES SOCIALES*/
.redesSociales {
    margin: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*COPYRIGHT*/
address {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}


}