/*extend*/
.promo {
    text-decoration: underline;
    }

.divPrecio {
    .promo--Precio {
        @extend .promo;
        color: rgb(82, 30, 24);
    }
}

div {
    .parrafoCaracteristicas {
        @extend .promo;
        color: rgb(82, 30, 24);
    }
}