/*****INDEX*****/
@media (min-width: 1024px) {
    body {
        header {
            div {
                ul {
                    li {
                        a {
                            .logo {
                                width: 150px;
                                margin: 30px;
                                background-color: none;
                            }
                        }
                    }
                }
            }
            .nav {
                .menu {
                    li {
                        .listas {
                            background-image: radial-gradient(#99D3E0 15%, salmon 80%);
                            padding: 6px;
                            margin: 20px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
        .principal {
            p {
                font-size: 45px;
            }
        }
        #whatsapp {
                ul {
                    li {
                        a {
                            img {
                                height: 100px;
                                width: 100px;
                            }
                        }
                    }
                }
        }
        .secundario {
            .sub {
                .subtituloComprar {
                    font-size: 45px;
                    margin: 30px;
                    width: 520px;
                }
            }
            .parrafoDos {
                font-size: 60px;
            }
            .opcionesPagoI {
                display: flex;
                flex-direction: row;
                .listaOpcionesPagoI {
                    font-size: 35px;
                    padding: 2%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        footer {
   
            .redesSociales {
                justify-content: flex-start;
            }
            address {
                justify-content: flex-end;
            }
        }
    }
}
//TABLET
@media (min-width: 481px) and (max-width: 1023px) {
    body {
        header {
            background-image: linear-gradient(rgb(253, 114, 99) 0%, #f0c0f1 75%);
            flex-direction: column;
            div {
                ul {
                    li {
                        a {
                            .logo {
                                width: 150px;
                                margin: 30px;
                                background-color: none;
                            }
                        }
                    }
                }
            }
            .nav {
                .menu {
                    li {
                        .listas {
                            background-image: radial-gradient(#99D3E0 15%, salmon 80%);
                            padding: 5px;
                            margin: 5px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
        .principal {
            p {
                font-size: 45px;
            }
        }
        #whatsapp {
                ul {
                    li {
                        a {
                            img {
                                height: 80px;
                                width: 80px;
                            }
                        }
                    }
                }
        }
        .secundario {
            margin-top: 50px;
            .sub {
                .subtituloComprar {
                    font-size: 35px;
                    margin: 30px;
                    width: 520px;
                }
            }
            .parrafoDos {
                font-size: 40px;
            }
            .opcionesPagoI {
                display: flex;
                flex-direction: row;
                .listaOpcionesPagoI {
                    font-size: 35px;
                    padding: 2%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        footer {
   
            .redesSociales {
                justify-content: flex-start;
            }
            address {
                justify-content: flex-end;
            }
        }
    }
}
//DESKTOP
@media (max-width: 480px) {

}

/*****SOBRE MÍ*****/
//DESKTOP
@media (min-width: 1024px) {
    #cuerpoSobreMi {
        #tituloSobreMi {
            .tituloSeccion {
                font-size: 60px;
                margin-top: 40px;
                margin-bottom: 30px;
            }
        }
        #textoSobreMi {
            .container {
                .parrafoDeContenido {
                    font-size: 20px;
                    margin: 25px;
                }
            }
        }
    }
}
//TABLET
@media (min-width: 481px) and (max-width: 1023px) {
    
}
//SMARTPHONE
@media (max-width: 480px) {

}

/*****PRODUCTOS*****/

//DESKTOP
@media (min-width: 1024px) {
    #cuerpoProductos {
        #promociones {
            h3 {
                font-size: 45px;
            }
            .caracteristicas {
                ul {
                    margin: 30px;
                    li {
                        font-size: 30px;
                    }
                }
            }
            div {
                ul {
                    li {
                        font-size: 35px;
                    }
                }
            }
            div {
                p {
                    font-size: 30px !important;
                }
            }
        }
    }
}

//TABLET
@media (min-width: 481px) and (max-width: 1023px) {
    #promociones {
        h3 {
            font-size: 40px;
        }
        .caracteristicas {
            ul {
                margin: 20px;
                li {
                    font-size: 23px;
                }
            }
        }
        div {
            ul {
                li {
                    font-size: 27px;
                }
            }
        }
        div {
            p {
                font-size: 23px !important;
            }
        }
    }
}

//SMARTPHONE
@media (max-width: 480px) {
    #promociones {
        h3 {
            font-size: 30px;
        }
        .caracteristicas {
            ul {
                margin: 18px;
                li {
                    font-size: 20px;
                }
            }
        }
        div {
            ul {
                li {
                    font-size: 23px;
                }
            }
        }
        div {
            p {
                font-size: 20px !important;
            }
        }
    }
}

/*****COMPRAR*****/
//DESKTOP
@media (min-width: 1024px) {
    #cuerpoComprar {
        #tituloComprar {
            .tituloSeccion {
                font-size: 60px;
                margin-top: 40px;
                margin-bottom: 30px;
            }
        }
        #textoComprar {
            .parrafoComprar {
                font-size: 35px;
                width: 700px;
                height: auto;
            }
        }
        #listaComprar {
            margin: 30px;
            .listaOpcionesPago {
                font-size: 35px;
                width: 600px;
                height: auto;
                padding: 10px;
            }
        }
    }
}
//TABLET
@media (min-width: 481px) and (max-width: 1023px) {

}
//SMARTPHONE
@media (max-width: 480px) {

}

/*****CONTACTO*****/
//DESKTOP
@media (min-width: 1024px) {
    #cuerpoContacto {
        #parrafoContacto {
            margin-left: 5%;
            margin-right: 5%;
            .parrafoContacto {
                font-size: 35px;
            }
        }
        #formulario {
            margin: 20px;
            fieldset {
                width: 700px;
                padding: 20px;
                legend {
                    font-size: 25px;
                }
            }
            h4 {
                font-size: 30px;
                margin: 10px;
            }
            label {
                font-size: 25px;
            }
            input {
                font-size: 25px;
                margin: 3px;
            }
            textarea {
                font-size: 25px;
                width: 600px;
                margin: 3px;
            }
        }
    }
}
//TABLET
@media (min-width: 481px) and (max-width: 1023px) {
    
}
//SMARTPHONE
@media (max-width: 480px) {

}