*{
    padding: 0;
    margin: 0;
}

/*****INDEX*****/
//DESKTOP
@media (min-width: 1024px) {
    body {
        .principal {
            p {
                font-size: 45px;
            }
        }
        #whatsapp {
                ul {
                    li {
                        a {
                            img {
                                height: 100px;
                                width: 100px;
                            }
                        }
                    }
                }
        }
        .secundario {
            .sub {
                .subtituloComprar {
                    font-size: 45px;
                    margin: 30px;
                    width: 520px;
                }
            }
            .parrafoDos {
                font-size: 60px;
            }
            .opcionesPagoI {
                display: flex;
                flex-direction: row;
                .listaOpcionesPagoI {
                    font-size: 35px;
                    padding: 2%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        footer {
            justify-content: space-between;
            address {
                align-self: center;
                margin-right: 15px;
            }
        }
    }
}
//TABLET
@media (min-width: 481px) and (max-width: 1023px) {
    body {
        .principal {
            p {
                font-size: 42px;
                font-weight: bold;
            }
        }
        #whatsapp {
                ul {
                    li {
                        a {
                            img {
                                height: 80px;
                                width: 80px;
                            }
                        }
                    }
                }
        }
        .secundario {
            margin-top: 50px;
            .sub {
                .subtituloComprar {
                    font-size: 35px;
                    margin: 30px;
                    width: 520px;
                }
            }
            .parrafoDos {
                font-size: 40px;
            }
            .opcionesPagoI {
                display: flex;
                flex-direction: column;
                .listaOpcionesPagoI {
                    font-size: 35px;
                    padding: 2%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        footer {
            display: flex;
            align-items: center;
            flex-direction: column;
            .redesSociales {
                display: flex;
                justify-content: center;
            }
            div {
                margin: 15px;
            }
            address {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
    }
}
//SMARTPHONE
@media (max-width: 480px) {
    body {
        .principal {
            p {
                font-size: 36px;
                font-weight: bold;
            }
        }
        #whatsapp {
                ul {
                    li {
                        a {
                            img {
                                height: 60px;
                                width: 60px;
                            }
                        }
                    }
                }
        }
        .secundario {
            margin-top: 50px;
            .sub {
                .subtituloComprar {
                    font-size: 35px;
                    margin: 30px;
                    width: 520px;
                }
            }
            .parrafoDos {
                font-size: 34px;
            }
            .opcionesPagoI {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                .listaOpcionesPagoI {
                    font-size: 28px;
                    padding: 2%;
                    display: flex;
                    justify-content: center;
                    a {
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
        footer {
            display: flex;
            align-items: center;
            flex-direction: column;
            .redesSociales {
                display: flex;
                justify-content: center;
            }
            div {
                margin: 15px;
            }
            address {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
    }
}

/*****SOBRE MÍ*****/
//DESKTOP
@media (min-width: 1024px) {
    #cuerpoSobreMi {
        #tituloSobreMi {
            .tituloSeccion {
                font-size: 54px;
            }
        }
        #textoSobreMi {
            .apertura {
                margin-left: 70px;
                width: 50px;
                height: 50px;
            }
            .parrafoDeContenido {
                font-size: 32px;
            }
            .cierre {
                margin-right: 70px;
                width: 50px;
                height: 50px;
            }
        }
        footer {
            justify-content: space-between;
            address {
                align-self: center;
                margin-right: 15px;
            }
        }
    }
}
//TABLET
@media (min-width: 481px) and (max-width: 1023px) {
    #cuerpoSobreMi {
        #tituloSobreMi {
            .tituloSeccion {
                font-size: 54px;
            }
        }
        #textoSobreMi {
            .apertura {
                margin-left: 50px;
                width: 40px;
                height: 40px;
            }
            .parrafoDeContenido {
                font-size: 26px;
            }
            .cierre {
                margin-right: 50px;
                width: 40px;
                height: 40px;
            }
        }
        #pieSobreMi {
            display: flex;
            align-items: center;
            flex-direction: column;
            .redesSociales {
                display: flex;
                justify-content: center;
            }
            div {
                margin: 15px;
            }
            address {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
    }
}
//SMARTPHONE
@media (max-width: 480px) {
    #cuerpoSobreMi {
        #tituloSobreMi {
            .tituloSeccion {
                font-size: 40px;
            }
        }
        #textoSobreMi {
            .apertura {
                margin-left: 30px;
                width: 30px;
                height: 30px;
            }
            .parrafoDeContenido {
                font-size: 20px;
            }
            .cierre {
                margin-right: 30px;
                width: 30px;
                height: 30px;
            }
        }
        #pieSobreMi {
            display: flex;
            align-items: center;
            flex-direction: column;
            .redesSociales {
                display: flex;
                justify-content: center;
            }
            div {
                margin: 15px;
            }
            address {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
    }
}

/*****PRODUCTOS*****/

//DESKTOP
@media (min-width: 1024px) {
    #cuerpoProductos {
        footer {
            justify-content: space-between;
            address {
                align-self: center;
                margin-right: 15px;
            }
        }
    }
}

//TABLET
@media (min-width: 481px) and (max-width: 1023px) {
#cuerpoProductos {
    #tituloProductos {
        .tituloSeccion {
            font-size: 54px;
        }
    }
    
    #pieProductos {
        display: flex;
        align-items: center;
        flex-direction: column;
        .redesSociales {
            display: flex;
            justify-content: center;
        }
        div {
            margin: 15px;
        }
        address {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
    }
}
}

//SMARTPHONE
@media (max-width: 480px) {
#cuerpoProductos {
    #tituloProductos {
        .tituloSeccion {
            font-size: 40px;
        }
    }
    #pieProductos {
        display: flex;
        align-items: center;
        flex-direction: column;
        .redesSociales {
            display: flex;
            justify-content: center;
        }
        div {
            margin: 15px;
        }
        address {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
}
}
}

/*****COMPRAR*****/
//DESKTOP
@media (min-width: 1024px) {
    #cuerpoComprar {
        #tituloComprar {
            .tituloSeccion {
                font-size: 60px;
                margin-top: 40px;
                margin-bottom: 30px;
            }
        }
        #textoComprar {
            .parrafoComprar {
                font-size: 35px;
                width: 700px;
                height: auto;
            }
        }
        #listaComprar {
            margin: 30px;
            .listaOpcionesPago {
                font-size: 35px;
                padding: 10px;
            }
        }
        footer {
            justify-content: space-between;
            address {
                align-self: center;
                margin-right: 15px;
            }
        }
    }
}
//TABLET
@media (min-width: 481px) and (max-width: 1023px) {
    #cuerpoComprar {
        #tituloComprar {
            .tituloSeccion {
                font-size: 54px;
            }
        }
        #textoComprar {
            margin: 0 10% 5% 10%;
            .parrafoComprar {
                font-size: 30px;
            }
        }
        #subtituloComprar {
            .subtituloComprar {
                font-size: 35px;
                margin: 30px;
            }
        }
        #listaComprar {
            margin: 30px;
            .listaOpcionesPago {
                font-size: 30px;
                width: auto;
                height: auto;
                padding: 10px;
            }
        }
        #pieComprar {
            display: flex;
            align-items: center;
            flex-direction: column;
            .redesSociales {
                display: flex;
                justify-content: center;
            }
            div {
                margin: 15px;
            }
            address {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
    }
}
//SMARTPHONE
@media (max-width: 480px) {
    #cuerpoComprar {
        #tituloComprar {
            .tituloSeccion {
                font-size: 40px;
            }
        }
        #textoComprar {
            margin: 0 10% 5% 10%;
            .parrafoComprar {
                font-size: 28px;
            }
        }
        #subtituloComprar {
            margin: 6% 0 3% 0;
            .subtituloComprar {
                font-size: 28px;
            }
        }
        #listaComprar {
            margin: 10px 10px 30px 10px;
            .listaOpcionesPago {
                font-size: 28px;
                width: auto;
                height: auto;
                padding: 6px;
                a {
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        #pieComprar {
            display: flex;
            align-items: center;
            flex-direction: column;
            .redesSociales {
                display: flex;
                justify-content: center;
            }
            div {
                margin: 15px;
            }
            address {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
    }
}

/*****CONTACTO*****/
//DESKTOP
@media (min-width: 1024px) {
    #cuerpoContacto {
        #parrafoContacto {
            margin-left: 5%;
            margin-right: 5%;
            .parrafoContacto {
                font-size: 35px;
            }
        }
        #formulario {
            margin: 20px;
            fieldset {
                width: 700px;
                padding: 20px;
                legend {
                    font-size: 25px;
                }
            }
            h4 {
                font-size: 30px;
                margin: 10px;
            }
            label {
                font-size: 25px;
            }
            input {
                font-size: 25px;
                margin: 3px;
            }
            textarea {
                font-size: 25px;
                width: 600px;
                margin: 3px;
            }
        }
        footer {
            justify-content: space-between;
            address {
                align-self: center;
                margin-right: 15px;
            }
        }
    }
}
//TABLET
@media (min-width: 481px) and (max-width: 1023px) {
    #cuerpoContacto {
        #tituloContacto {
            .tituloSeccion {
                font-size: 54px;
            }
        }
        #parrafoContacto {
            margin-left: 5%;
            margin-right: 5%;
            .parrafoContacto {
                font-size: 30px;
            }
        }
        #formulario {
            fieldset {
                width: 90%;
                margin: 5%;
                padding: 3%;
                legend {
                    font-size: 25px;
                }
            }
            h4 {
                font-size: 30px;
                margin: 10px;
            }
            label {
                font-size: 25px;
            }
            input {
                font-size: 25px;
                margin: 3px;
            }
            textarea {
                font-size: 25px;
                width: 400;
                margin: 2%;
            }
        }
        #pieContacto {
            display: flex;
            align-items: center;
            flex-direction: column;
            .redesSociales {
                display: flex;
                justify-content: center;
            }
            div {
                margin: 15px;
            }
            address {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
    } 
}
//SMARTPHONE
@media (max-width: 480px) {
    #cuerpoContacto {
        #tituloContacto {
            .tituloSeccion {
                font-size: 40px;
            }
        }
        #parrafoContacto {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
            .parrafoContacto {
                font-size: 28px;
            }
        }
        #formulario {
            margin: 20px;
            fieldset {
                width: 85%;
                margin: 4% 7,5% 4% 7,5%;
                padding: 2%;
                legend {
                    font-size: 20px;
                }
            }
            h4 {
                font-size: 22px;
                margin: 8px;
            }
            label {
                font-size: 18px;
            }
            input {
                font-size: 18px;
                margin: 2px;
            }
            textarea {
                font-size: 23px;
                width: auto;
                margin: 2%;
            }
        }
        #pieContacto {
            display: flex;
            align-items: center;
            flex-direction: column;
            .redesSociales {
                display: flex;
                justify-content: center;
            }
            div {
                margin: 15px;
            }
            address {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
    } 
}