//import
@import "tipografia";
@import "responsive";
@import "extend";
@import "mixin";

//variables
$fondo: sandybrown;

//nesting
@media (min-width: 1024px) {
    #promociones {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            background-color: $fondo;
        }
        .caracteristicas {
            .promo {
                li {
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 1023px) {
    #promociones {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            background-color: $fondo;
        }
        .caracteristicas {
            .promo {
                li {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #promociones {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            background-color: $fondo;
        }
        .caracteristicas {
            .promo {
                li {
                    text-align: center;
                }
            }
        }
    }
}

