//import
@import "tipografia";
@import "responsive";
@import "extend";
@import "mixin";
@import "mapa";
@import "colores";

//variables
$fondo1: #f0c0f1;
$fondo2: sandybrown;
$colorLista: black;
$fondoCabecera: salmon;
$pie: rgb(179, 159, 159);
$subComprarAlt: #70e0ad;
$subComprar: cornsilk;

/*INDEX*/
#cuerpoIndex {
    background-color: $fondo1;
    display: grid;
    grid-template-areas: 
    "cabeza"
    "whatsapp"
    "principal"
    "galeria"
    "secundario"
    "pie";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    header {
        font-weight: 400;
        font-size: 24px;
    }
    .principal {
        grid-area: principal;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        p {
            font-family: $fuente;
            text-align: center;
            font-weight: bold;
            line-height: 1.6;
            text-transform: uppercase;
        }
    }
    #whatsapp {
        @include whatsapp;
    }
    #carouselExampleIndicators {
        grid-area: galeria;
        .carousel-inner {
            width: 100%;
            height: auto;
        }
    }
    .secundario {
        grid-area: secundario;
        .parrafoDos {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .sub {
            display: flex;
            justify-content: center;
            align-items: center;
            .subtituloComprar {
                @include subComprarDesktop;
            }
        }
    }
    footer {
        grid-area: pie;
        background-color: $pie;
        height: auto;
        display: flex;
        .redesSociales {
            list-style-type: none;
            padding: 10px;
            display: flex;
            align-items: center;
        }
        div {
            display: flex;
            align-items: center;
            font-size: 20px;
            text-align: center;
            p {
                font-weight: bold;
                margin-top: 8px;
                align-self: center;
            }
        }
        address {
            display: flex;
            font-weight: bold;
        }
    }
}

@keyframes logoWhatsapp {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

/*SOBRE MI*/
#cuerpoSobreMi {
    background-color: $fondo1;
    display: grid;
    grid-template-areas: 
    "cabezaSobreMi"
    "tituloSobreMi"
    "whatsapp"
    "fotoSobreMi"
    "textoSobreMi"
    "pieSobreMi";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    #cabezaSobreMi {
        grid-area: cabezaSobreMi;
        font-weight: 400;
        font-size: 24px;
    }
    #tituloSobreMi {
        grid-area: tituloSobreMi;
        .tituloSeccion {
            @include tituloDesktop;
        }
    }
    #whatsapp {
        @include whatsapp;
    }
    #fotoSobreMi {
        grid-area: fotoSobreMi;
        img {
            margin: 2% 10% 2% 10%;
            width: 80%;
        }
    }
    #textoSobreMi {
        grid-area: textoSobreMi;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .apertura {
            justify-content: center;
            align-self: center;
        }
        .parrafoDeContenido {
            text-align: center;
            line-height: 1.6;
            color: black;
            margin: 0 10% 3% 10%;
        }
        .cierre {
            align-self: center;
            justify-content: center;
        }
    }
    #pieSobreMi {
        grid-area: pieSobreMi;
        background-color: $pie;
        height: auto;
        display: flex;
        .redesSociales {
            list-style-type: none;
            padding: 10px;
            display: flex;
            align-items: center;
        }
        div {
            display: flex;
            align-items: center;
            font-size: 20px;
            text-align: center;
            p {
                font-weight: bold;
                margin-top: 8px;
                align-self: center;
            }
        }
        address {
            display: flex;
            font-weight: bold;
        }
    }
}

@keyframes logoWhatsapp {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

/*PRODUCTOS*/
#cuerpoProductos {
    background-color: $fondo1;
        display: grid;
    grid-template-areas:
    "cabezaProductos"
    "tituloProductos"
    "whatsapp"
    "catalogo"
    "icono"
    "pieProductos";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    #cabezaProductos {
        grid-area: cabezaProductos;
        font-weight: 400;
        font-size: 24px;
    }
    #tituloProductos {
        grid-area: tituloProductos;
        .tituloSeccion {
            @include tituloDesktop;
        }
    }
    #whatsapp {
        @include whatsapp;
    }
    #catalogo {
        grid-area: catalogo;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .productos {
            width: 350px;
            height: auto;
            margin: 30px;
            border: black solid;
            .tituloProductos {
                font-size: 35px;
                font-family: 'Source Sans Pro', sans-serif;
                text-align: center;
            }
            .parrafoDeProductos {
                font-size: 20px;
                font-family: 'Source Sans Pro', sans-serif;
                height: auto;
                text-align: center;
            }
        }
    }
    #icono {
        grid-area: icono;
        margin: 0 3% 0 3%;
    }
    #pieProductos {
        grid-area: pieProductos;
        background-color: $pie;
        height: auto;
        display: flex;
        .redesSociales {
            list-style-type: none;
            padding: 10px;
            display: flex;
            align-items: center;
        }
        div {
            display: flex;
            align-items: center;
            font-size: 20px;
            text-align: center;
            p {
                font-weight: bold;
                margin-top: 8px;
                align-self: center;
            }
        }
        address {
            display: flex;
            font-weight: bold;
        }
    }
}

@keyframes logoWhatsapp {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

/*COMPRAR*/
#cuerpoComprar {
    background-color: $fondo1;
    display: grid;
    grid-template-areas:
    "cabezaComprar"
    "tituloComprar"
    "whatsapp"
    "textoComprar"
    /*"boton"*/
    "subtituloComprar"
    "listaComprar"
    "pieComprar";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    .cabecera {
        grid-area: cabezaComprar;
        font-weight: 400;
        font-size: 24px;
    }
    #tituloComprar {
        grid-area: tituloComprar;
        .tituloSeccion {
            @include tituloDesktop;
        }
    }
    #whatsapp {
        @include whatsapp;
    }
    #textoComprar {
        grid-area: textoComprar;
        display: flex;
        justify-content: center;
        .parrafoComprar {
            text-align: center;
            margin: 20px;
        }
    }
    /*
    #button {
        grid-area: boton;
        display: flex;
        justify-content: center;
        margin: 3%;
    }
    */
    #subtituloComprar {
        grid-area: subtituloComprar;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .subtituloComprar {
            @include subComprarDesktop;
        }
    }
    #listaComprar {
        grid-area: listaComprar;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        .listaOpcionesPago {
            text-align: center;
            width: auto;
            height: auto;
        }
    }
    #pieComprar {
        background-color: $pie;
        grid-area: pieComprar;
        display: flex;
        .redesSociales {
            list-style-type: none;
            padding: 10px;
            display: flex;
            align-items: center;
        }
        div {
            display: flex;
            align-items: center;
            font-size: 20px;
            text-align: center;
            p {
                font-weight: bold;
                margin-top: 8px;
                align-self: center;
            }
        }
        address {
            display: flex;
            font-weight: bold;
        }
    }
}

@keyframes logoWhatsapp {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

/*CONTACTO*/
#cuerpoContacto {
    background-color: $fondo1;
    display: grid;
    grid-template-areas:
    "cabezaContacto"
    "tituloContacto"
    "whatsapp"
    "parrafoContacto"
    "formulario"
    "pieContacto"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    .cabecera {
        grid-area: cabezaContacto;
        font-weight: 400;
        font-size: 24px;
    }
    #tituloContacto {
        grid-area: tituloContacto;
        .tituloSeccion {
            @include tituloDesktop;
        }
    }
    #whatsapp {
        @include whatsapp;
    }
    #parrafoContacto {
        grid-area: parrafoContacto;
        display: flex;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        .parrafoContacto {
            text-align: center;
        }
    }
    #formulario {
        grid-area: formulario;
        display: flex;
        justify-content: center;
        fieldset {
            legend {
                text-align: center;
            }
        }
        h4 {
            font-weight: bold;
        }
        input {
            text-align: center;
        }
    }
    #pieContacto {
        grid-area: pieContacto;
        background-color: $pie;
        display: flex;
        .redesSociales {
            list-style-type: none;
            padding: 10px;
            display: flex;
            align-items: center;
        }
        div {
            display: flex;
            align-items: center;
            font-size: 20px;
            text-align: center;
            p {
                font-weight: bold;
                margin-top: 8px;
                align-self: center;
            }
        }
        address {
            display: flex;
            font-weight: bold;
        }
    }
}


@keyframes logoWhatsapp {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}